In [35]:
#Imports
import pandas as pd
import numpy as np
import hvplot.pandas
from pathlib import Path
import matplotlib as plt

In [166]:
#Csv File Reader
jet_fuel_supplied_csv = Path("C:/Users/cgarc/OneDrive/Desktop/groupproject1/Jet_Fuel_Product_Supplied_Annual .csv")
jet_fuel_supply_df = pd.read_csv(jet_fuel_supplied_csv, infer_datetime_format=True, parse_dates=True, header=None)
jet_fuel_supply_df = jet_fuel_supply_df.drop(labels=[0,1,2,3])


jet_fuel_supply_df = jet_fuel_supply_df[0:35]
jet_fuel_supply_df

       0                                                  1
4   Year  Series ID: STEO.JFTCPUS.A million barrels per day
5   1990                                        1.522266989
6   1991                                         1.47144068
7   1992                                        1.454292191
8   1993                                        1.469339003
9   1994                                        1.526857537
10  1995                                        1.514421164
11  1996                                        1.577953044
12  1997                                        1.598529923
13  1998                                        1.621933973
14  1999                                        1.672606326
15  2000                                        1.725284074
16  2001                                        1.655401282
17  2002                                        1.613648559
18  2003                                        1.577833521
19  2004                                        1.629919363
20  2005                                        1.678989786
21  2006                                        1.632905447
22  2007                                        1.622385373
23  2008                                         1.53855385
24  2009                                        1.393189756
25  2010                                        1.431649071
26  2011                                        1.425342899
27  2012                                        1.398133358
28  2013                                        1.434398266
29  2014                                        1.469927937
30  2015                                        1.548242622
31  2016                                        1.614227353
32  2017                                        1.682175647
33  2018                                        1.707016948
34  2019                                        1.743384052
35  2020                                        1.076437057
36  2021                                        1.371165586
37  2022                                        1.575094441
38  2023                                         1.63619306

In [168]:
#Isolate Data
jet_fuel_year = jet_fuel_supply_df[0]
jet_fuel_year[1:32]
jet_fuel_year
jet_fuel_supplied = jet_fuel_supply_df[1]
jet_fuel_supplied = jet_fuel_supplied[1:32]
jet_fuel_supplied = list(jet_fuel_supplied)
jet_fuel_supplied
display(len(jet_fuel_year[1:34]))
display(jet_fuel_year[1:34])

33

5     1990
6     1991
7     1992
8     1993
9     1994
10    1995
11    1996
12    1997
13    1998
14    1999
15    2000
16    2001
17    2002
18    2003
19    2004
20    2005
21    2006
22    2007
23    2008
24    2009
25    2010
26    2011
27    2012
28    2013
29    2014
30    2015
31    2016
32    2017
33    2018
34    2019
35    2020
36    2021
37    2022
Name: 0, dtype: object

In [120]:
#Csv File Reader
crude_oil_supplied_csv = Path("C:/Users/cgarc/OneDrive/Desktop/groupproject1/U.S._Product_Supplied_of_Crude_Oil_and_Petroleum_Products_Annual .csv")
crude_oil_supplied_df = pd.read_csv(crude_oil_supplied_csv, infer_datetime_format=True, parse_dates=True, header=None)
crude_oil_supplied_df = crude_oil_supplied_df.drop(labels=[0,1,2,3])
#crude_oil_supplied_df = crude_oil_supplied_df.drop(1)
#crude_oil_supplied_df = crude_oil_supplied_df.drop(2)
#crude_oil_supplied_df = crude_oil_supplied_df.drop(3)
#display(crude_oil_supplied_df)

In [111]:
#Isolate data
crude_oil_date = crude_oil_supplied_df[0]
crude_oil_date = crude_oil_date[10:42]
crude_oil_supplied = crude_oil_supplied_df[1]
crude_oil_supplied = crude_oil_supplied[10:42]
#display(crude_oil_date, crude_oil_supplied)

In [114]:
#Change data object to list
crude_oil_date = list(crude_oil_date)
crude_oil_supplied = list(crude_oil_supplied)
#display(crude_oil_date)

In [93]:
#crude_oil_supplied_df.hvplot(frame_width= 600, 
    frame_height= 700,
    legend=True,
    rot=90,
    title="Crude Oil Supplied and Petroleum Products Annual"
)

IndentationError: unexpected indent (3768272921.py, line 2)

In [92]:
#jet_fuel_supply_df.hvplot(frame_width= 600, 
    frame_height= 700,
    legend=True,
    rot=90,
    title="Jet Fuel Annual, Per Million Barrels a Day"
)

IndentationError: unexpected indent (2018978371.py, line 2)